# Ignore Python virtual environments
venv/
.venv/
env/
ENV/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

.env.*
!.env.example
!.env.*.example

